{%extends 'base.html'%}

{% block content %}
{{block.super}}
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

<h1 style="text-align:center; margin-top: 50px; margin-bottom:50px; font-family: 'Anton', sans-serif;"> Welcome to
    instagram</h1>
<div class="container">

    <div class="row">

        {% for image in images %}
        <!--Display  images  -->

        <div class="col-md-12">

            <img src="{{user.profile.profile_photo.url}}" alt="Profile" class="img_profile" class="img-responsive"
                style="border-radius: 50%; width: 10%">
            <img src="{{image.image.url}}" class="img-responsive" alt="Image" data-toggle="modal" data-target="#{{image.id}}"
                style="font-size:300px;">
            <h3><strong>Image-caption:</strong>{{ image.image_caption}} </h3>
        </div>
        <!-- Modal -->
        <div class="col-md-4">
            <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">{{image.image_name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{image.image.url}}" class="img-responsive" alt="Image">
                            <p><strong>Description</strong>: {{ image.image_caption}} </p>
                            <p><i class="fa fa-comment"></i></p>
                            <a href="{% url 'comment' image.id %}">comment</a>
                            {% for coment in image.comments_set.all %}
                            <p>{{coment.comment}}</p>
                            {% endfor %}
                            <a class='info' href="{% url 'likes' image.id%}">
                                <p>{{image.likes}} likes<i class="fa fa-heart-o"></i></p>
                            </a><span style="font-size:20px;">{{image.likes.count}}</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


</div>


{% endblock %}