<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="topnav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'image' %}">Home</a>
                <input type="text" placeholder="Search..">
                <button>Search</button>
                

            </div>




        </div>
    </nav>
</body>

</html>


